name: Slinky CI

on:
  push:
    branches:
      - master
  pull_request:
  release:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Install NPM Dependencies
      run: npm install; cd native; npm install; cd ..
    - name: Test with SBT (fastopt)
      run: sbt ";scalajsReactInterop/test; + tests/test; + native/test"
    - name: Test with SBT (fullopt)
      run: sbt ";set scalaJSStage in Global := FullOptStage; scalajsReactInterop/test; + tests/test; + native/test"
  build-docs:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Install NPM Dependencies
      run: npm install
    - name: Build Docs Site
      run: sbt docs/fullOptJS::webpack
    - name: Report Bundle Size
      run: export BUNDLESIZE_GITHUB_TOKEN=`echo $BUNDLESIZE_TOKEN | base64 --decode`; npx bundlesize
      env:
        BUNDLESIZE_TOKEN: N2JjZDIxYjA1OGU1YzkwOWVkZWYzOWQ5MWYyZjRhYTgyMzE3MzY3Mgo=
  build-intellij-plugin:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build IntelliJ Plugin
      run: sbt coreIntellijSupport/updateIntellij coreIntellijSupport/compile
  publish:
    needs: [test, build-docs, build-intellij-plugin]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Publish with SBT
      run: bash ./publish.sh
      if: github.ref == 'refs/heads/master' || github.eventName == 'release'
      env:
        encrypted_key: ${{ secrets.key }}
        encrypted_iv: ${{ secrets.iv }}
