name: Slinky CI

on:
  push:
    branches:
      - master
  pull_request:
  release:
    types: [published]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        scalajs: ["1.7.1", "1.0.0"]
        es2015_enabled: ["false", "true"]
    steps:
      - name: Configure git to disable Windows line feeds
        run: "git config --global core.autocrlf false"
        shell: bash
      - uses: actions/checkout@master
      - name: Set up JDK 1.8 and SBT
        uses: olafurpg/setup-scala@v10
        with:
          java-version: 1.8
      - name: Style checks
        run: sbt styleCheck
      - name: Install NPM Dependencies
        run: npm install; cd tests; npm install; cd ..; cd native; npm install; cd ..
        shell: bash
      - name: Test core and native (fastopt + fullopt)
        run: sbt +tests/test +native/test "set scalaJSStage in Global := FullOptStage" +tests/test +native/test
        env:
          SCALAJS_VERSION: ${{ matrix.scalajs }}
          ES2015_ENABLED: ${{ matrix.es2015_enabled }}
        shell: bash
      - name: Test Scala.js React Interop (fastopt + fullopt)
        run: sbt scalajsReactInterop/test "set scalaJSStage in Global := FullOptStage" scalajsReactInterop/test
        env:
          SCALAJS_VERSION: ${{ matrix.scalajs }}
          ES2015_ENABLED: ${{ matrix.es2015_enabled }}
        shell: bash
  build-docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Set up JDK 1.8 and SBT
      uses: olafurpg/setup-scala@v10
      with:
        java-version: 1.8
    - name: Install NPM Dependencies
      run: npm install
    - name: Build Docs Site
      run: sbt docs/fullOptJS::webpack
    - name: Report Bundle Size
      run: export BUNDLESIZE_GITHUB_TOKEN=`echo $BUNDLESIZE_TOKEN | base64 --decode`; npx bundlesize
      env:
        BUNDLESIZE_TOKEN: N2JjZDIxYjA1OGU1YzkwOWVkZWYzOWQ5MWYyZjRhYTgyMzE3MzY3Mgo=
  build-intellij-plugin:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Set up JDK 1.8 and SBT
      uses: olafurpg/setup-scala@v10
      with:
        java-version: 1.8
    - name: Build IntelliJ Plugin
      run: sbt coreIntellijSupport/updateIntellij coreIntellijSupport/compile
  publish:
    needs: [test, build-docs, build-intellij-plugin]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Set up JDK 1.8 and SBT
      uses: olafurpg/setup-scala@v10
      with:
        java-version: 1.8
    - run: git fetch --unshallow
    - name: Publish with SBT
      run: export JAVA_OPTS="-Xmx4g" && bash ./publish.sh
      if: github.ref == 'refs/heads/master' || github.event_name == 'release'
      env:
        encrypted_key: ${{ secrets.key }}
        encrypted_iv: ${{ secrets.iv }}
        PGP_PASSPHRASE: ${{ secrets.pgp_passphrase }}
  publish-intellij-plugin:
    needs: [test, build-docs, build-intellij-plugin]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Set up JDK 1.8 and SBT
      uses: olafurpg/setup-scala@v10
      with:
        java-version: 1.8
    - run: git fetch --unshallow
    - name: Publish to Marketplace
      run: sbt coreIntellijSupport/updateIntellij coreIntellijSupport/packageArtifact coreIntellijSupport/packageArtifact coreIntellijSupport/publishAutoChannel
      if: github.ref == 'refs/heads/master' || github.event_name == 'release'
      env:
        IJ_PLUGIN_REPO_TOKEN: ${{ secrets.ij_plugin_repo_token }}
